
/* Стили для блока с основной информацией */
.main-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.modal-content button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #36b85f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content.volunteers-modal {
  max-width: 600px;
}

.modal-content button:hover {
  background-color: #2a8f45;
}

.request-paticipance:disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
}

.request-paticipance:disabled:hover {
  background-color: rgb(204, 204, 204); /* или тот же цвет, что и без hover */
  color: #666;
}

.text-inactive {
  width: 100%;
  background-color: rgb(210, 217, 222); /* bg-gray-200 */
  color: #666; /* Цвет текста для выключенной кнопки */
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 2rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1px 6px;
  font-size: 13.333px;
  cursor: default;
}
