.scrollable-table-container.application {
  max-height: 170px;
}

.scrollable-table-container.members {
  max-height: 200px;
}

.scrollable-table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.table thead th, table thead th {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

.container {
  border: 1px, solid, #d1dbe3;;
  border-radius: 8px;
  background-color: #f8f9fa;
  padding: 10px;
}


table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #ddd;
  margin-top: 1rem;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #f8f9fa;
  font-weight: 600;
}

.form-section {
margin-bottom: 20px;
}

.form-section label {
margin-left: 15px;
display: block;
margin-bottom: 8px;
font-weight: 500;
color: #333;
}

.form-section input {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 6px;
font-size: 14px;
box-sizing: border-box;
}

/* Новые стили для модального окна */
.event-form-container {
  display: flex;
  flex-direction: column;
  /* gap: 30px;
  padding: 20px; */
}

.event-columns {
  display: flex;
  flex-direction: row;
}

.form-left-column {
  width: 60%;
  border-right: 1px solid #eee;
  padding-right: 30px;
}

.form-right-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-textarea {
  margin: 5px 15px 5px 15px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize:none;
}

.time-section {
  /* margin-bottom: auto; */
  margin: 5px 15px;
}

.modal-content.futureevent-modal {
  width: 60%;
}

.modal-content.newevent-modal {
  width: 50%;
}

.modal-content.complitionevent-modal {
  width: 40%;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}