p, h1 {
  font: 500 16px / 20px SBSansText, OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: rgb(36, 232, 36);
}

header h1 {
  margin: 0;
  text-align: center;
}
footer {
  background-color: green;
  color: white;
  text-align: center;
}

